<%= render partial: 'common/breadcrumbs',
           locals: {
               section: 'Reports',
               crumbs: [
                   {title: 'Configuration', path: ''},
                   {title: 'Runsheet reports'},
                   {title: 'Edit'}
               ]
           } %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <%= form_for(@report, :url => admin_report_path(@report), :html => { class:"no-print form-horizontal" }) do |f|%>
            <%= render partial: 'reports/v2/form', :locals => {:f => f} %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

