<div class="content-box">
  <div class="box-header clear">
    <h2>Product Import</h2>
  </div>
  <div class="box-body clear">
    <%= form_for @import, :html => { :multipart => true }, :url => {:action => "create"} do |form| %>
        <%= render :partial => "form", :locals => {:form => form} %>
    <% end %>
  </div>
</div>
