<h1>Configuration</h1>
<p>Set up BookThatApp.</p>

<div class="content-box">
	<div class="box-header clear">
		<h2>Edit Template</h2>
	</div>
	<div class="box-body clear">
      <%= form_for @template, :as => :template, :url => template_path(@template), :html=> {:id => 'template_form'}  do | form | %>
		  <%= render :partial => "form", :locals => {:form => form} %>
		<% end %>
	</div>
</div>
