<%= render partial: 'common/breadcrumbs',
           locals: {
               section: 'Configuration',
               crumbs: [
                   {title: 'Configuration', path: ''},
                   {title: 'Edit'}
               ]
           } %>

<div class="wrapper wrapper-content animated fadeInRight">
  <%= render partial: 'templates/v2/form', locals: { title: "Edit Template" } %>
</div>

