<div class="content-box">
  <div class="box-header clear">
    <h2>Edit Term</h2>
  </div>
  <div class="box-body clear">
    <%= nested_form_for @term, as: :term, url:  product_term_path(@product, @term) do |form| %>
      <%= render :partial => "form", :locals => {:form => form} %>
    <% end %>
  </div>
</div>
