<div class="content-box">
  <div class="box-header clear">
    <h2>Create Booking</h2>
  </div>
  <div class="box-body clear">
    <%= form_for @booking, url: bookings_path do |form| %>
        <%= render :partial => "form", :locals => {:form => form} %>
    <% end %>
  </div>
</div>
