<div class="grid__item one-third text-center">
  <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}</span>
  <input type="number" class="cart__quantity-selector" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
</div>
