{% comment %}
BookThatApp auto installed snippet. Changes made to this file will be lost if installed again.
{% endcomment %}

<label for="booking">Please enter the date of your event:</label>
<input id="booking" type="text" name="attributes[booking]" value="{{ cart.attributes[booking] }}" class="datepicker bta bta-dp-start" size="12" />
