<h1>429</h1>
<div class="alert alert-error">
  <p>API limits reached</p>
</div>
<p>We've been notified and will take a look as soon as possible. Feel free to <a href="//support.shopifyconcierge.com/tickets/new">raise a ticket</a> if
  you would like to contact us about the problem.</p>
<p>
  <%= link_to 'Home', root_path  %>
</p>

