<h1>404</h1>
<div class="alert alert-error">
  <p>Page not found</p>
</div>
<p>The requested page was not found.</p>
<p>
  <%= link_to 'Home', root_path  %>
</p>
<script>
console.log(document.referrer)
</script>
