<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Import Shopify Products</h5>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-7">
        <input type="text" id="q" placeholder="Search product title" class="form-control"/>
      </div>
      <div class="col-xs-3">
        <%= link_to "Bulk Import", new_product_import_path, :class => 'btn btn-md btn-primary' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="product_chooser" class="product-chooser loading"></div>
      </div>
    </div>
  </div>
</div>



<% content_for :javascript do -%>
<script type="text/javascript">
    var cache = {}, result;

    function cachedProducts(request, response) {
      var term = request.term;
      if (term in cache) {
        response(cache[term]);
        return;
      }

      result = $.getJSON('/chooser/search', {term: term}, function(data, status, xhr) {
        cache[term] = $.map(data.chooser, function (product) {
          return {
            id: product.id,
            label: product.title,
            value: product.title,
            product: product
          };
        });

        if (xhr === result) {
          response(cache[term]);
        }
      });
    }


    $("#q").autocomplete({
        minLength:2, delay:300,
        source: cachedProducts,
        select: function(event, ui) {
            if (ui.item) {
              document.body.style.cursor = "wait";
              $("#q").val('');
              document.location.href = "/admin/products/new?external_id=" + ui.item.id;
            }
        },
        response: function( event, ui ) {
          $('.ui-autocomplete-loading').removeClass('ui-autocomplete-loading');
        }
    });


</script>
<% end %>
