<div class="alert alert-info" xmlns="http://www.w3.org/1999/html">
    <span class="icon"></span>
    <p>Not technical? We can do a custom install for you. <a href="/charges/installation">Click here for details</a>.</p>
</div>
