<% content_for :head do -%>
  <%= stylesheet_link_tag 'mono-blue' %>
<% end -%>

<%= render partial: 'common/breadcrumbs',
           locals: {
               section: 'Developer Guide',
               crumbs: [
                   {title: 'Developer Guide', path: admin_doco_index_path},
                   {title: 'CSS'}
               ]
           } %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox">
        <div class="ibox-title">
          <h5>Introduction</h5>
        </div>
        <div class="ibox-content">
          <p>There are several CSS classes BookThatApp provides so that you can customize styles.</p>
        </div>
      </div>

      <div class="ibox">
        <div class="ibox-title">
          <h5>Loading spinner</h5>
        </div>
        <div class="ibox-content">
          <p>When 'bta-load-enable' datepickers are loading the availability information we recommend showing a loading spinner
            so that visitors know something is going on:</p>
          <pre><code>.datepicker.bta-load-enable {background: url({{ 'loading.gif' | asset_url }}) no-repeat 50% 50%}</code></pre>
          <p>Make sure you replace 'loading.gif' with whatever loading image your theme is using.</p>
        </div>
      </div>

      <div class="ibox">
        <div class="ibox-title">
          <h5>Booked out dates</h5>
        </div>
        <div class="ibox-content">
          <p>Blacked out dates have a "bta-blackedout" class. To override the background color:</p>
          <pre><code>.ui-datepicker-calendar .bta-blackedout .ui-state-default {background: #000}</code></pre>

          <h3>Booked out dates</h3>
          <p>Similarily to blacked out dates, "bta-bookedout" is added to any booked out dates.</p>
        </div>
      </div>
    </div>
  </div>
</div>



