<% content_for :head do -%>
    <title>Page Not Found (404)</title>
<% end %>
<div id="home" class="padding">
  <h1>Page Not Found</h1>

  <p>The page you were looking for doesn't exist.</p>

  <div class="clear">
  </div>
</div>