<% content_for :head do -%>
    <title>API Limits Reached (429)</title>
<% end %>
<h2>API Limits Exceeded</h2>
<blockquote>
  <p>"I've giv'n her all she's got captain, an' I canna give her no more." -- Scotty</p>
</blockquote>
<p>Looks like you've taken it to the limit. The Shopify API limit has been reached. Nothing to do now but to wait 10 minutes
or so and we should be back in business.</p>
