<% content_for :head do -%>
    <title>Shopify Connection Broken (502)</title>
<% end %>
<h2>Shopify Connection Broken</h2>
<blockquote>
  <p>"I've giv'n her all she's got captain, an' I canna give her no more." -- Scotty</p>
</blockquote>
<p>Looks like Shopify may be down at the moment. Please try again at a later time.</p>
