<tr class="fields">
  <%= f.hidden_field :id %>
  <td>
    <%= f.select :resource_id, @available_resources.collect {|r| [r.name, r.id]}, {:prompt => "Select resource...", :multiple => false}, {:class => 'resource-picker'} %>
  </td>
  <td>
    <%= f.link_to_remove "Remove" %>
  </td>
</tr>
