<ul>
  <li><a href="/tests/availability">Datepicker</a></li>
  <li><a href="/tests/availability2">Datepicker with Time</a></li>
  <li><a href="/tests/opening_hours">Opening Hours</a></li>
  <li><a href="/tests/scheduled_times">Scheduled Times Widget</a></li>
  <li><a href="/tests/highlight_duration">Highlight Duration</a></li>
  <li><a href="/tests/upcoming_events">Upcoming Events</a></li>
  <li><a href="/tests/time_range">Time Range</a></li>
  <li><a href="/tests/order_status_page">Order Status Page</a></li>
</ul>