<div id="test">
    <p>
      <input type="text" id="booking-start" class="bta datepicker" size="12" autocomplete="off" data-handle="kaanapali-kai-golf-course" data-variant="283201252" data-mindate="3" data-time="14:30" />
    </p>
</div>

<% content_for :foot do -%>

<script>
var data = {"blackouts":[],"products":[{"capacity_type":0,"variant_capacities":[],"handle":"kaanapali-kai-golf-course","title":"Kaanapali Kai Golf Course","schedule":[{"duration":0,"start":[2013,9,1,0,0,0]},{"duration":0,"start":[2013,9,2,0,0,0]},{"duration":0,"start":[2013,9,3,0,0,0]},{"duration":0,"start":[2013,9,4,0,0,0]},{"duration":0,"start":[2013,9,5,0,0,0]},{"duration":0,"start":[2013,9,6,0,0,0]},{"duration":0,"start":[2013,9,7,0,0,0]},{"duration":0,"start":[2013,9,8,0,0,0]},{"duration":0,"start":[2013,9,9,0,0,0]},{"duration":0,"start":[2013,9,10,0,0,0]},{"duration":0,"start":[2013,9,11,0,0,0]},{"duration":0,"start":[2013,9,12,0,0,0]},{"duration":0,"start":[2013,9,13,0,0,0]},{"duration":0,"start":[2013,9,14,0,0,0]},{"duration":0,"start":[2013,9,15,0,0,0]},{"duration":0,"start":[2013,9,16,0,0,0]},{"duration":0,"start":[2013,9,17,0,0,0]},{"duration":0,"start":[2013,9,18,0,0,0]},{"duration":0,"start":[2013,9,19,0,0,0]},{"duration":0,"start":[2013,9,20,0,0,0]},{"duration":0,"start":[2013,9,21,0,0,0]},{"duration":0,"start":[2013,9,22,0,0,0]},{"duration":0,"start":[2013,9,23,0,0,0]},{"duration":0,"start":[2013,9,24,0,0,0]},{"duration":0,"start":[2013,9,25,0,0,0]},{"duration":0,"start":[2013,9,26,0,0,0]},{"duration":0,"start":[2013,9,27,0,0,0]},{"duration":0,"start":[2013,9,28,0,0,0]},{"duration":0,"start":[2013,9,29,0,0,0]},{"duration":0,"start":[2013,9,30,0,0,0]},{"duration":0,"start":[2013,10,1,0,0,0]},{"duration":0,"start":[2013,10,2,0,0,0]},{"duration":0,"start":[2013,10,3,0,0,0]},{"duration":0,"start":[2013,10,4,0,0,0]},{"duration":0,"start":[2013,10,5,0,0,0]},{"duration":0,"start":[2013,10,6,0,0,0]},{"duration":0,"start":[2013,10,7,0,0,0]},{"duration":0,"start":[2013,10,8,0,0,0]},{"duration":0,"start":[2013,10,9,0,0,0]},{"duration":0,"start":[2013,10,10,0,0,0]},{"duration":0,"start":[2013,10,11,0,0,0]},{"duration":0,"start":[2013,10,12,0,0,0]},{"duration":0,"start":[2013,10,13,0,0,0]},{"duration":0,"start":[2013,10,14,0,0,0]},{"duration":0,"start":[2013,10,15,0,0,0]},{"duration":0,"start":[2013,10,16,0,0,0]},{"duration":0,"start":[2013,10,17,0,0,0]},{"duration":0,"start":[2013,10,18,0,0,0]},{"duration":0,"start":[2013,10,19,0,0,0]},{"duration":0,"start":[2013,10,20,0,0,0]},{"duration":0,"start":[2013,10,21,0,0,0]},{"duration":0,"start":[2013,10,22,0,0,0]},{"duration":0,"start":[2013,10,23,0,0,0]},{"duration":0,"start":[2013,10,24,0,0,0]},{"duration":0,"start":[2013,10,25,0,0,0]},{"duration":0,"start":[2013,10,26,0,0,0]},{"duration":0,"start":[2013,10,27,0,0,0]},{"duration":0,"start":[2013,10,28,0,0,0]},{"duration":0,"start":[2013,10,29,0,0,0]},{"duration":0,"start":[2013,10,30,0,0,0]},{"duration":0,"start":[2013,10,31,0,0,0]},{"duration":0,"start":[2013,11,1,0,0,0]}],"scheduled":true,"id":114784620,"bookings":[{"numberInParty":1,"end":[2013,9,13,14,6,0],"start":[2013,9,13,14,6,0],"variant":283201252,"all_day":0},{"numberInParty":1,"end":[2013,10,18,9,2,0],"start":[2013,10,18,9,2,0],"variant":262074602,"all_day":0},{"numberInParty":2,"end":[2013,9,7,10,6,0],"start":[2013,9,7,10,6,0],"variant":262074602,"all_day":0}],"variants":[{"partySize":1,"duration":8.0,"finishTime":[12,54,0],"schedule":[],"id":262074602,"startTime":[6,30,0]},{"partySize":1,"duration":8.0,"finishTime":[12,54,0],"schedule":[],"id":265362908,"startTime":[6,30,0]},{"partySize":1,"duration":10.0,"finishTime":[12,54,0],"schedule":[],"id":266596508,"startTime":[6,30,0]},{"partySize":1,"duration":10.0,"finishTime":[12,54,0],"schedule":[],"id":266603828,"startTime":[6,30,0]},{"partySize":1,"duration":10.0,"finishTime":[11,59,0],"schedule":[],"id":279659974,"startTime":[7,0,0]},{"partySize":1,"duration":8.0,"finishTime":[15,30,0],"schedule":[],"id":283201252,"startTime":[14,6,0]},{"partySize":1,"duration":8.0,"finishTime":[12,54,0],"schedule":[],"id":339098036,"startTime":[6,30,0]}],"lag":0,"capacity":62}]};
bta = {
    hours: {enforced:false},
    settings: {}
}
</script>

<script src="/javascripts/jquery.bta-2.0.js" type="text/javascript"></script>
<script>
    jQuery.each(data.products, function(n, product) {
        jQuery.each(product.bookings, function(i, booking) {
            booking.start = bta.dateInst(booking.start);
            booking.end = bta.dateInst(booking.end);
            booking.handle = product.handle;
            console.log(booking);
        });

        jQuery.each(product.schedule, function(n, s) {
            s.start = bta.dateInst(s.start);
        })

        jQuery.each(product.variants, function(n, v) {
            jQuery.each(v.schedule, function(n, s) {
                s.start = bta.dateInst(s.start);
            })
        })
    })

    bta.cached = function(d) {
        return data;
    }

    $('#booking-start').datepicker({
        beforeShow:function (input, inst) {
            jQuery(input).addClass('openDatepicker');
        },
        onClose:function (dateText, inst) {
            jQuery(inst.input).removeClass('openDatepicker');
        },
        beforeShowDay: bta.beforeShowDay
    });
</script>
<% end %>
