<%= render partial: 'common/breadcrumbs',
           locals: {
               section: 'Configuration',
               crumbs: [
                   {title: 'Configuration', path: ''},
                   {title: 'Resources', path: admin_resources_path },
                   {title: 'Edit'}
               ]
           } %>

<div class="wrapper wrapper-content animated fadeInRight">
  <%= render partial: 'resources/v2/form', locals: { title: 'Edit Resource' } %>
</div>

